In [1]:
import pandas as pd
from datetime import datetime

In [17]:
data = pd.read_csv('./data/ncov2019_data_updated.csv')

In [18]:
# Confirming Unnamed 0 and Unnamed 8 are just blank columns of same length
data.isna().sum()

Unnamed: 0           1235
Province/State        278
Country                23
Date last updated      23
Confirmed              53
Deaths               1076
Recovered             938
Suspected            1139
Unnamed: 8           1235
dtype: int64

In [19]:
# Dropping Unnamed 0 and Unnamed 8
# Also Dropping Suspected because there isn't a Suspected Column throughout all the dates in the dataset.
data.drop(columns=['Unnamed: 0', 'Unnamed: 8', 'Suspected'],
          inplace=True)

In [20]:
# First recordings don't have a time stamp, there's also date discrepancy between the data title "Jan22_12am"
# and the "Date last updated" as 1/21/2020, therefore will set date last updated as 1/21/20 23:59
data.loc[data['Date last updated'] == '1/21/20', ['Date last updated']] = '1/21/20 23:59'

In [21]:
data.dtypes

Province/State       object
Country              object
Date last updated    object
Confirmed            object
Deaths               object
Recovered            object
dtype: object

In [22]:
# Drop rows that have NaNs in date
data = data.loc[data['Date last updated'].notnull()]

In [23]:
data.reset_index(drop=True, inplace = True)

In [25]:
data = data[data['Date last updated'] != 'Last Update']

In [26]:
for item in data['Date last updated']:
    if len(item) != 13 or len(item) != 12:
        item = '0'+str(item)
        datetime.strptime(item, '%m/%d/%y %H:%M')

In [27]:
data['Date last updated'] = pd.to_datetime(data['Date last updated'])

In [28]:
data.head()

  Province/State Country   Date last updated Confirmed Deaths Recovered
0       Shanghai   China 2020-01-21 23:59:00         9    NaN       NaN
1         Yunnan   China 2020-01-21 23:59:00         1    NaN       NaN
2        Beijing   China 2020-01-21 23:59:00        10    NaN       NaN
3         Taiwan   China 2020-01-21 23:59:00         1    NaN       NaN
4          Jilin   China 2020-01-21 23:59:00       NaN    NaN       NaN