In [39]:
import pandas as pd
from datetime import datetime

In [134]:
data = pd.read_csv('./ncov2019_data_updated.csv')

In [135]:
# Confirming Unnamed 0 and Unnamed 8 are just blank columns of same length
data.isna().sum()

Unnamed: 0           1040
Province/State        219
Country                20
Date last updated      20
Confirmed              50
Deaths                910
Recovered             821
Suspected             944
Unnamed: 8           1040
dtype: int64

In [136]:
# Dropping Unnamed 0 and Unnamed 8
# Also Dropping Suspected because there isn't a Suspected Column throughout all the dates in the dataset.
data.drop(columns=['Unnamed: 0', 'Unnamed: 8', 'Suspected'],
          inplace=True)

In [137]:
# First recordings don't have a time stamp, there's also date discrepancy between the data title "Jan22_12am"
# and the "Date last updated" as 1/21/2020, therefore will set date last updated as 1/21/20 23:59
data.loc[data['Date last updated'] == '1/21/20', ['Date last updated']] = '1/21/20 23:59'

In [190]:
data.dtypes

Province/State               object
Country                      object
Date last updated    datetime64[ns]
Confirmed                    object
Deaths                       object
Recovered                    object
dtype: object

In [145]:
# Drop rows that have NaNs in date
data = data.loc[data['Date last updated'].notnull()]

In [152]:
data.reset_index(drop=True, inplace = True)

In [183]:
for item in data['Date last updated']:
    if len(item) != 13 or len(item) != 12:
        item = '0'+str(item)
        datetime.strptime(item, '%m/%d/%y %H:%M')

In [179]:
data = data[data['Date last updated'] != 'Last Update']

In [189]:
data['Date last updated'] = pd.to_datetime(data['Date last updated'])

/Users/Work/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [195]:
data.head()

  Province/State Country   Date last updated Confirmed Deaths Recovered
0       Shanghai   China 2020-01-21 23:59:00         9    NaN       NaN
1         Yunnan   China 2020-01-21 23:59:00         1    NaN       NaN
2        Beijing   China 2020-01-21 23:59:00        10    NaN       NaN
3         Taiwan   China 2020-01-21 23:59:00         1    NaN       NaN
4          Jilin   China 2020-01-21 23:59:00       NaN    NaN       NaN